@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {
    margin: 25px;
    padding: 25px;
    height: 80%;
    width: 80%;
    background-color: #302b57;
}

.logo{
    font-family: 'Vast Shadow';
    font-size: 55px;
    color: #f2a900;
}

.ctext{
    font-family: 'VT323';
    font-size: 30px;
    color: whitesmoke
}

.defaultText{
    font-family: 'Montserrat';
    font-size: 16px;
    color: whitesmoke
}

