<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
</head>
<body>
    <div class="logo">
        <a href="/index" style="all: unset;">xvrn</a>
    </div>
    
    
    <hr>
    <footer>
        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        <a href="/" style="all: unset;">home</a>
        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        <a href="/thesis" style="all: unset;">thesis</a>
        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        <a href="mailto:contact@xvrn.tech" style="all: unset;">email</a>
    </footer>
    <hr>
    
    {{ content }}

    
    
</body>
</html>


