<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
</head>
<body>
    <div class="logo">
        <a href="/index" style="all: unset;">xvrn</a>
    </div>
    {{ content }}

    <br /><br />
    <footer>
        <a href="/index" style="all: unset;">home</a>
        | <a href="/thesis" style="all: unset;">thesis</a>
        | <a href="mailto:contact@xvrn.tech" style="all: unset;">email</a>
    </footer>
    
</body>
</html>


